{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "watcher/bootstrap-4.3.1-dist/css/bootstrap.css" %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static "watcher/bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
	<script src="https://kit.fontawesome.com/dd9153f0ae.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light border-bottom">
		<div>
            {% block navbar_left %}{% endblock %}
		</div>
		<div>
            {% block navbar_right %}{% endblock %}
		</div>
	</nav>
	{% block content %}{% endblock %}
	{% block modal %}{% endblock %}
</body>
</html>
