{% extends 'watcher/base.html' %}

{% block navbar_left %}
<a class="btn btn-light border" href="{% url 'add_course' %}" role="button">
	<i class="fas fa-graduation-cap"></i>
    Add Course
</a>
{% endblock %}

{% block navbar_right %}
<a class="btn btn-light border" href="{% url 'sign_out' %}" role="button">
	<i class="fas fa-sign-out-alt"></i>
	Sign Out 
</a>
{% endblock %}

{% block content %}
<div class="m-3">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Course</th>
				<th>Additional Info</th>
				<th>Status</th>
				<th>Waitlist Availability</th>
			</tr>
		</thead>
		<tbody>
			{% for course in course_list %}
			<tr>
				<td>
					<div style="font-size: 21px;">
					{{ course.title }}
					<br>
					CRN: {{ course.crn }}
					</div>
				</td>
				<td>
					<div style="font-size: 17px;">
					Instructor: {{ course.instructor }}
					<br>
					Meeting Time: {{ course.meeting_time }}
					<br>
					Location: {{ course.location }}
					</div>
				</td>
				<td>
					<div style="font-size: 21px;">
					{{ course.status }}
					</div>
				</td>
				<td>
					<div style="font-size: 21px;">
					{{ course.waitlist_availability }}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
</div>
{% endblock %}