{% extends 'spotter/index.html' %}

{% block content %}
<div class="modal" data-backdrop="static" id="modalWindow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <i class="fas fa-{{ icon }}"></i>
            {{ modal_title }}
          </div>
          <a href="{% url 'index' %}" class="close">&times;</a>
        </div>
        <div class="modal-body">
            <form id="form" action="{{ url }}" method="post">
                {% csrf_token %}
                {% for field in form %}
                {{ field.label_tag }}
                <br>
                {{ field }}
                <br>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
<script>
$('#modalWindow').modal('show')
</script>
{% endblock %}