{% extends 'components/base.html' %}

{% block buttons %}
<a class="btn btn-light border" href="{% url 'courses:add_course' %}" role="button">
	<i class="fas fa-graduation-cap"></i>
    Add Course
</a>
<a class="btn btn-light border" href="{% url 'courses:remove_course' %}" role="button">
	<i class="fas fa-trash"></i>
    Remove Course 
</a>
<a class="btn btn-light border" href="{% url 'accounts:sign_out' %}" role="button">
	<i class="fas fa-sign-out-alt"></i>
	Sign Out 
</a>
{% endblock %}

{% block content %}
<div class="m-3">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Course</th>
				<th>Additional Info</th>
				<th>Status</th>
				<th>Seating Availability</th>
			</tr>
		</thead>
		<tbody>
			{% for course in course_list %}
			<tr>
				<td>
					<div style="font-size: 18px;">
					{{ course.title }}
					<br>
					CRN: {{ course.crn }}
					</div>
				</td>
				<td>
					<div style="font-size: 14px;">
					Instructor: {{ course.instructor }}
					<br>
					Meeting Time: {{ course.meeting_time }}
					<br>
					Location: {{ course.location }}
					</div>
				</td>
				<td>
					<div class="font-weight-bold" style="font-size: 18px;">
						{% if course.status == 'OPEN' %}
						<div style="color: green;">
						{% elif course.status == 'Waitlisted' %}
						<div style="color: orange;">
						{% elif course.status == 'CLOSED' %}
						<div style="color: red;">
						{% else %}
						<div style="color: black;">
						{% endif %}
						{{ course.status }}
						</div>
					</div>
				</td>
				<td>
					<div style="font-size: 18px;">
					{{ course.seating_availability }}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
</div>
{% if not course_list %}
<div style="height: 100px;"></div>
<div class="d-flex justify-content-center">
	<p>There are no courses currently on your watch list. Click <strong>Add Course</strong> to begin.</p>
</div>
{% endif %}
{% endblock %}