<div class="modal" data-backdrop="static" id="modalWindow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <i class="fas fa-{{ icon }}"></i>
            {{ modal_title }}
          </div>
          <a href="{{ close_url }}" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {% if message %}
            {{ message }}
            {% endif %}
            {% if form %}
            <form id="form" action="{{ url }}" method="post">
                {% csrf_token %}
                {% for field in form %}
                {{ field.label_tag }}
                <br>
                {{ field }}
                <br>
                {% endfor %}
            </form>
            {% endif %}
        </div>
        <div class="modal-footer">
          <a href="{{ close_url }}" class="btn btn-secondary">Close</a>
          {% if form %}
          <button type="submit" form="form" class="btn btn-primary">Submit</button>
          {% endif %}
        </div>
      </div>
    </div>
</div>
<script>
$('#modalWindow').modal('show')
</script>